@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #f4f1ff, #ffffff);
}

body {
  font-family: 'Inter', sans-serif;
  color: #1f1f2e;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 600;
}

button {
  cursor: pointer;
  transition: 0.2s;
}