@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #0f1115, #1a1c22);
  /* 26282c,  */
}

body {
  font-family: 'Inter', sans-serif;
  color: #e5e7eb;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 600;
}

button {
  cursor: pointer;
  transition: 0.2s;
}